<div class="leave-request">
    <h2>Request Leave</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="start-date">Start Date:</label>
      <input type="date" id="start-date" [(ngModel)]="startDate" name="startDate" required />
  
      <label for="end-date">End Date:</label>
      <input type="date" id="end-date" [(ngModel)]="endDate" name="endDate" required />
      </div>
  
      <textarea id="reason" [(ngModel)]="reason" name="reason" rows="4" required placeholder="Reason for leave"></textarea>
  
      <button type="submit" class="btn">Submit</button>
    </form>
  </div>