<div class="login-container">
    <h1 class="welcome-title">Set new password</h1>
  
    <form class="login-form" #form="ngForm" (ngSubmit)="resetPassword(form)">
      <!-- New Password -->
      <div class="input-group" style="position: relative;">
        <i class="fas fa-lock input-icon"></i>
        <input
          [type]="showPassword ? 'text' : 'password'"
          name="newPassword"
          [(ngModel)]="newPassword"
          (ngModelChange)="checkPasswordMatch()"
          placeholder="New Password"
          #newPasswordRef="ngModel"
          required
          minlength="6"
        />
        <i
          class="fas"
          [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"
          (click)="showPassword = !showPassword"
          style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"
        ></i>
      </div>
      <div class="error-message" *ngIf="newPasswordRef.invalid && newPasswordRef.touched">
        <div *ngIf="newPasswordRef.errors?.['required']">New password is required</div>
        <div *ngIf="newPasswordRef.errors?.['minlength']">
          Must be at least 6 characters
        </div>
      </div>
  
      <!-- Confirm Password -->
      <div class="input-group">
        <i class="fas fa-lock input-icon"></i>
        <input
  [type]="showConfirmPassword ? 'text' : 'password'"
  name="confirmPassword"
  [(ngModel)]="confirmPassword"
  (ngModelChange)="checkPasswordMatch()"
  placeholder="Confirm Password"
  #confirmPasswordRef="ngModel"
  required
  minlength="6"
/>

        <i
        class="fas"
        [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'"
        (click)="showConfirmPassword = !showConfirmPassword"
        style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"
      ></i>
      </div>
      <div class="error-message" *ngIf="(confirmPasswordRef.invalid && confirmPasswordRef.touched) || (passwordMismatch && confirmPasswordRef.touched && newPasswordRef.touched)">
        <div *ngIf="confirmPasswordRef.errors?.['required']">
          Please confirm your password
        </div>
        <div *ngIf="passwordMismatch && confirmPasswordRef.touched && newPasswordRef.touched">
          Passwords do not match
        </div>
      </div>
      
      <!-- Error Message -->
      <div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>
  
      <button class="btn" type="submit" [disabled]="form.invalid">Reset Password</button>
    </form>
  </div>
  