.content {
    margin-top: 100px;
    margin-left: 113px; /* 113px sidebar + 10px margin-left of sidebar */
    padding: 1rem;
  }
  
  @media (max-width: 992px) {
    .content{
    margin-top: 0px;
    margin-left: 0px; 
    padding: 0rem;
  }
}