<nav class="sidebar">
  <ul class="nav-list">
    <ng-container *ngFor="let item of visibleNavItems">
      <li
        class="nav-item"
        [ngClass]="{ 'has-submenu': item.subItems?.length }"
        (click)="item.link && !item.subItems?.length ? navigateTo(item.link) : item.action?.()"
      >
        <div class="nav-icon">
          <i [class]="'fas fa-' + item.icon"></i>
        </div>
        <span class="nav-label">{{ item.label }}</span>

        <!-- Submenu -->
        <ul *ngIf="item.subItems?.length" class="submenu" [ngClass]="item.label.toLowerCase()" >
          <li
            *ngFor="let sub of item.subItems"
            (click)="navigateTo(sub.link); $event.stopPropagation()" 
          >
            {{ sub.label }}
          </li>
        </ul>
      </li>
    </ng-container>
  </ul>
</nav>
  