/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body Styling */
  body {
    background: var(--primary-gradient-color);
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh; /* Ensure it takes up the full screen height */
    padding: 1rem; /* Add some padding for smaller screens */
    margin: 2rem;
  }

  :root{
    --primary-gradient-color : linear-gradient(to right, #FF512F 0%, #DD2476  51%, #FF512F  100%);
  }

  /* Login Button */
.btn {
    width: 14rem;
    height: 3rem;
    padding: 0.75rem;
    background: var(--primary-gradient-color);
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }

  @media(max-width: 762px) {
    body{
      padding: 0;
      margin: unset;
    }
  }
  .error-message {
    color: red;
}